* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Special+Elite|Ultra');

body{
  background-color: rgb(255, 248, 239);
}

.width {
  width: 25%;
  max-width: 320px;
  margin-left: 12%;
  margin-right: 12%;
}

.form-group {
  margin-top: 15px;
}

.thumbnail{
  margin-top:15px;
  width: 50%;
  max-height: 200px;
  max-width: 200px;
}

.panel > .panel-heading{
  background-color:rgb(252, 191, 144);
}

.img{
  max-width: 80%;
}

.panel {
  background-color:rgb(129, 89, 42);
  border: solid 1px red;
  text-align: center;
  height: 350px;
}

.margin-top-winnerHeading{
    margin-top: 40px;
}

.caption {
  margin-top: 15px;
}

#winner-heading{
  color:rgb(254, 37, 116);
  font-family: 'Ultra', serif;
  font-size: 3em;
}

.text-center,
label,
input {
  font-family: 'Special Elite', cursive;
}

#button{
  font-family: 'Ultra', serif;
  font-size: 1.5em;
}
